  .newMovie {
    flex: 4;
  }

  .addMovieTitle{
    margin-left: 30px;
  }
  
 .addMovieForm {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .addMovieItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .addMovieItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addMovieItem > input {
    padding: 10px;
  }
  
  .addMovieItem > select {
    padding: 10px;
  }
  
  .addMovieButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    height: 30px;
    align-self: center;
  }