.movie{
    flex: 4;
    padding: 20px;
}

.movieTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movieAddButton{
    border: none;
    width: 80px;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.movieTop{
    display: flex;
}

.movieTopLeft{
    flex:2;
}

.movieTopRight{
    flex:1;
}

.movieTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.movieInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.movieInfoTop{
    display: flex;
    align-items: center;
}

.movieInfoItem{
    display: flex;
    align-items: center;
}

.movieName{
    font-weight: 600;
}

.movieInfoBottom{
    margin-top: 10px;
}

.movieInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.movieInfoKey{
    margin-right: 20px;
    
}

.movieInfoValue{
    font-weight: 300;
}

.movieBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.movieForm{
    display: flex;
    justify-content: space-between;

}

.movieFormLeft{
    display: flex;
    flex-direction: column;
}

.movieFormLeft > label {
    margin-bottom: 10px;
    color: gray;
}

.movieFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.movieFormLeft > select{
    margin-bottom: 10px;
}

.movieUploadImage{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.movieFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.movieUplaod{
    display: flex;
    align-items: center;
}

.movieButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}