.list{
    flex: 4;
    padding: 20px;
}

.listTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listAddButton{
    border: none;
    width: 80px;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.listTop{
    display: flex;
}

.listTopLeft{
    flex:2;
}

.listTopRight{
    flex:1;
}

.listTopRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.listInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.listInfoTop{
    display: flex;
    align-items: center;
}

.listInfoItem{
    display: flex;
    align-items: center;
}

.listName{
    font-weight: 600;
}

.listInfoBottom{
    margin-top: 10px;
}

.listInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.listInfoKey{
    margin-right: 20px;
    
}

.listInfoValue{
    font-weight: 300;
}

.listBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.listForm{
    display: flex;
    justify-content: space-between;

}

.listFormLeft{
    display: flex;
    flex-direction: column;
}

.listFormLeft > label {
    margin-bottom: 10px;
    color: gray;
}

.listFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.listFormLeft > select{
    margin-bottom: 10px;
}

.listUploadImage{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.listFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listUplaod{
    display: flex;
    align-items: center;
}

.listButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}